.line{
	margin: auto;
	width: 95%;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #DDD;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 12px;
	//position: center;
	font-weight: none;
	float: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 4px;
	//position: absolute;
}