.youtube {
    width: 100%;
	display: inline-block;
	margin: auto;
	margin-bottom: 30px;
	float: center;
}
.title{
	font-family: Rubik, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}
